@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm mt-2
    transition-all duration-300 focus:outline-none focus:ring focus:ring-yellow-400
    w-full md:px-6 md:py-3
  }
}

.left-hero {
  transform: rotate(0deg);
  animation: pizza 200s infinite linear;
}
.title  h1 {
  text-wrap: balance;
}
.order::placeholder {
  font-size: 1rem;
}

.cart-down {
  font-family: 'Kdam Thmor Pro', sans-serif;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}
.animation {
  transform: translateY(100%);
  animation: popin 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards ;
}
.transition {
  background: #1d1d1d;
  backdrop-filter: blur(40px);
  opacity: 1;
  width: 100vw;
  height: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  transform-origin: bottom;
  animation: tran 2.8s cubic-bezier(0.19,1,0.22,1) forwards;
}
.transition-two {
  background: #00A082FF;
  backdrop-filter: blur(40px);
  opacity: 1;
  width: 100vw;
  height: 100%;
  z-index: 499;
  position: absolute;
  bottom: 0;
  transform-origin: left;
  animation: tran-2 2.5s  cubic-bezier(0.19,1,0.22,1) forwards;
}



@keyframes tran {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
  100% {
    height: 0%;

  }
}
@keyframes tran-2 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
  100% {
    height: 0%;

  }
}
@keyframes popin {
  to {
    transform: translateY(0%);
   }
}
@keyframes pizza {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}

.PZ {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(16deg) brightness(158%) contrast(119%);
  /*filter: invert(-1);*/
}
.cart:hover{
  filter: brightness(103%);
  transition: transform .3s all;
}
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#ffbf00);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 6.4px),#000 0);
  animation: spinner-zp9dbg 0.8s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
     transform: rotate(1turn);
  }
}

@media (max-width: 750px) {
  .left-hero {
    height: 15rem;
  }
  .hero {
    flex-flow: column ;
    margin-top: 3rem;
  }
  .right-hero {
    gap: 1rem;
  }
  .left-hero {
    margin-top: 3rem;
  }
}

  
@media (max-width: 420px) {
  .logo {
    display: none;
  }
  .nologo {
    display: block;
    transform: translateY(6px);
    scale: 0.9;
    margin-left: 1rem;
  }

  .left-hero {
  margin-top: 1rem;
  height: 12rem;
  }
  .right-hero {
  margin-top: 4rem;
  }

  .instagram, .facebook, .wsp {
  color: green !important;
  }
  .order {
  width: 8rem;
  margin-inline: 20px;
  }
  .cart {
  margin-right: 2rem;
  }
  .order::placeholder {
    font-size: .8rem;
  }
}

@media (min-width: 1921px) {
.svg {
  display: none;
}
}

@media (max-width: 600px) {
  .media .instagram,.facebook,.whatsapp {
    color: white;
  }
  .order {
    max-width: 14rem;
  }
}

